@import "normalize.scss";
@import "fonts.scss";

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {color: inherit;}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
	margin: 0;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	line-height: 1.25;
	color: #fff;
	background: #000;
}
.container {
	max-width: 1500px;
	width: 100%;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}

a {
	text-decoration: none;
}
a[href^="tel:"] {
	white-space: nowrap;
}
@import "block/header.scss";
@import "block/main.scss";